build_output
Directory.Build.props
*.suo
*.user
*.dotCover


bin
obj
_ReSharper*

*.psess
*.vspx

*wpftmp.csproj
*.csproj.user
*.resharper.user
*.resharper
*.ReSharper
*.cache
*.g.cs
*~
*.swp
*.bak
*.orig

*.userprefs
*.log.txt

.fake
packages
TestResults
run

.vs
paket-files/
.paket/paket.bootstrapper.exe

.idea/

deploy/

BenchmarkDotNet.Artifacts/

# Ionide (cross platform F# VS Code tools) working folder
.ionide/

### VS Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
