build_output
build_artifacts

*.suo
*.user
*.dotCover


bin
obj
_ReSharper*

*.psess
*.vspx

*.csproj.user
*.resharper.user
*.resharper
*.ReSharper
*.cache
*.g.cs
*~
*.swp
*.bak
*.orig

npm-debug*

src/SolutionVersion.cs
src/SolutionVersion.fs
*.userprefs
*.log.txt

.fake
paket.exe
packages
tools/paket/paket.exe
tools/paket/paket.target
TestResults
run

.vs
bower_components
node_modules
out
public
paket-files/

.idea/