build_output
Directory.Build.props
*.suo
*.user
*.dotCover


bin
obj
_ReSharper*

*.psess
*.vspx

*.csproj.user
*.resharper.user
*.resharper
*.ReSharper
*.cache
*.g.cs
*~
*.swp
*.bak
*.orig

*.userprefs
*.log.txt

.fake
packages
TestResults
run

.vs
paket-files/
.paket/paket.bootstrapper.exe

.idea/

deploy/
