type file
id Elmish.WPF
version 0.0
authors Prolucid
description
    F# bindings for using elmish in WPF 
tags
	WPF F# Elmish Elm
projectUrl
	https://github.com/Prolucid/Elmish.WPF
licenseUrl
	https://github.com/Prolucid/Elmish.WPF/blob/master/LICENSE.md
requireLicenseAcceptance false
files
	build_output/Elmish.WPF.dll ==> lib/net46